In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("linked.csv")

In [3]:
df

,full_name,linkedin_url,phone_numbers,emails,location
0,mark buchanan,linkedin.com/in/mark-buchanan-62a13ba,[],'markgbuchanan@msn.com',"phoenix, arizona, united states"
1,christine bingham,linkedin.com/in/christine-bingham-76057a2a,[],"'cab4226@yahoo.com', 'cab4226@aol.com', 'ca...","seattle, washington, united states"
2,paul rainsberger,linkedin.com/in/paul-rainsberger-7217214,[],'pkrainsberger@centurytel.net',"columbia, missouri, united states"
3,leslie van calster,linkedin.com/in/leslie-van-calster-4b02b017,[],'leslievancalster@sbcglobal.net',"green bay, wisconsin, united states"
4,adan monroy,linkedin.com/in/adan-monroy-45100534,[],'adan.monroy@hotmail.com',"san diego, california, united states"
...,...,...,...,...,...
5919405,james talmich,linkedin.com/in/james-talmich-887b4713,[],'jtalmich@gmail.com',"whittier, california, united states"
5919406,zachary salzbank,linkedin.com/in/zsalzbank,[],'zsalzbank@gmail.com',"new york, new york, united states"
5919407,srikanth kakani,linkedin.com/in/srikantk,[],'srikantk@gmail.com',"santa clara, california, united states"
5919408,van andy dam,linkedin.com/in/andy-dam-van-aa5676b,[],'avandam@bellsouth.net',"sumter, south carolina, united states"
5919409,shirley barnett,linkedin.com/in/shirley-barnett-265b852b,[],'shirleybarnett@verizon.net',"los angeles, california, united states"

In [6]:
df1 = df.drop_duplicates(subset='linkedin_url', keep='first')

In [7]:
df1

,full_name,linkedin_url,phone_numbers,emails,location
0,mark buchanan,linkedin.com/in/mark-buchanan-62a13ba,[],'markgbuchanan@msn.com',"phoenix, arizona, united states"
1,christine bingham,linkedin.com/in/christine-bingham-76057a2a,[],"'cab4226@yahoo.com', 'cab4226@aol.com', 'ca...","seattle, washington, united states"
2,paul rainsberger,linkedin.com/in/paul-rainsberger-7217214,[],'pkrainsberger@centurytel.net',"columbia, missouri, united states"
3,leslie van calster,linkedin.com/in/leslie-van-calster-4b02b017,[],'leslievancalster@sbcglobal.net',"green bay, wisconsin, united states"
4,adan monroy,linkedin.com/in/adan-monroy-45100534,[],'adan.monroy@hotmail.com',"san diego, california, united states"
...,...,...,...,...,...
5919405,james talmich,linkedin.com/in/james-talmich-887b4713,[],'jtalmich@gmail.com',"whittier, california, united states"
5919406,zachary salzbank,linkedin.com/in/zsalzbank,[],'zsalzbank@gmail.com',"new york, new york, united states"
5919407,srikanth kakani,linkedin.com/in/srikantk,[],'srikantk@gmail.com',"santa clara, california, united states"
5919408,van andy dam,linkedin.com/in/andy-dam-van-aa5676b,[],'avandam@bellsouth.net',"sumter, south carolina, united states"
5919409,shirley barnett,linkedin.com/in/shirley-barnett-265b852b,[],'shirleybarnett@verizon.net',"los angeles, california, united states"

In [8]:
df1.to_csv("mainfile.csv", index=False)

In [9]:
df1

,full_name,linkedin_url,phone_numbers,emails,location
0,mark buchanan,linkedin.com/in/mark-buchanan-62a13ba,[],'markgbuchanan@msn.com',"phoenix, arizona, united states"
1,christine bingham,linkedin.com/in/christine-bingham-76057a2a,[],"'cab4226@yahoo.com', 'cab4226@aol.com', 'ca...","seattle, washington, united states"
2,paul rainsberger,linkedin.com/in/paul-rainsberger-7217214,[],'pkrainsberger@centurytel.net',"columbia, missouri, united states"
3,leslie van calster,linkedin.com/in/leslie-van-calster-4b02b017,[],'leslievancalster@sbcglobal.net',"green bay, wisconsin, united states"
4,adan monroy,linkedin.com/in/adan-monroy-45100534,[],'adan.monroy@hotmail.com',"san diego, california, united states"
...,...,...,...,...,...
5919405,james talmich,linkedin.com/in/james-talmich-887b4713,[],'jtalmich@gmail.com',"whittier, california, united states"
5919406,zachary salzbank,linkedin.com/in/zsalzbank,[],'zsalzbank@gmail.com',"new york, new york, united states"
5919407,srikanth kakani,linkedin.com/in/srikantk,[],'srikantk@gmail.com',"santa clara, california, united states"
5919408,van andy dam,linkedin.com/in/andy-dam-van-aa5676b,[],'avandam@bellsouth.net',"sumter, south carolina, united states"
5919409,shirley barnett,linkedin.com/in/shirley-barnett-265b852b,[],'shirleybarnett@verizon.net',"los angeles, california, united states"