In [1]:
# Path Name Pattern Expansion
import glob
import pandas as pd

In [2]:
# list all csv files
csv_files = glob.glob('*.{}'.format('csv'))

In [3]:
csv_files

['email.csv', 'emailphone.csv', 'phone.csv']

In [4]:
new = []
# iterate through the csv file and concatenate it
for f in csv_files:
    new.append(pd.read_csv(f))

In [6]:
merged_file = pd.concat(new, ignore_index=True)

In [7]:
merged_file

,full_name,linkedin_url,phone_numbers,emails,location
0,victoria ryder,linkedin.com/in/victoria-ryder-a504329,[],'victoriatr123@gmail.com',"new york, new york, united states"
1,christophe esposito,linkedin.com/in/christopheesposito,[],'c.esposito916@gmail.com',"norwalk, connecticut, united states"
2,wenzhong wu,linkedin.com/in/wenzhong-wu-85b8b126,[],'wuwenz@hotmail.com',"san jose, california, united states"
3,matthew erskine,linkedin.com/in/matthew-erskine-97159844,[],'erskineranches@gmail.com',"kerman, california, united states"
4,kishore chakravadhanula,linkedin.com/in/kchakrav,[],"'kchakrav@gmail.com', 'kishore.chakravadhanu...","san diego, california, united states"
...,...,...,...,...,...
13946191,dave naab,linkedin.com/in/davenaab,['+15633328930'],NaN,"bettendorf, iowa, united states"
13946192,jeff heiney,linkedin.com/in/jeff-heiney-57313160,['+16363436112'],NaN,"fenton, missouri, united states"
13946193,cynthia lugo-anatello,linkedin.com/in/cynthia-lugo-anatello-5a2a3993,['+17148218380'],NaN,"los alamitos, california, united states"
13946194,pao-gen wang,linkedin.com/in/pao-gen-wang-b229a5101,['+15093583900'],NaN,"new jersey, united states"
13946195,chip rominger,linkedin.com/in/chip-rominger-8377b532,['+14238223600'],NaN,"chattanooga, tennessee, united states"

In [8]:
merged_file.to_csv("mergedfile.csv", index=False)