In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("pers_email_latest.csv")

In [3]:
df

,Unnamed: 0,full_name,linkedin_url,phone_numbers,emails,location_name,Personal_Email
0,0,victoria ryder,linkedin.com/in/victoria-ryder-a504329,[],"[{'address': 'victoriatr123@gmail.com', 'type'...","new york, new york, united states",'victoriatr123@gmail.com'
1,1,christophe esposito,linkedin.com/in/christopheesposito,[],"[{'address': 'c.esposito916@gmail.com', 'type'...","norwalk, connecticut, united states",'c.esposito916@gmail.com'
2,2,wenzhong wu,linkedin.com/in/wenzhong-wu-85b8b126,[],"[{'address': 'wuwenz@hotmail.com', 'type': 'pe...","san jose, california, united states",'wuwenz@hotmail.com'
3,3,matthew erskine,linkedin.com/in/matthew-erskine-97159844,[],"[{'address': 'erskineranches@gmail.com', 'type...","kerman, california, united states",'erskineranches@gmail.com'
4,4,kishore chakravadhanula,linkedin.com/in/kchakrav,[],"[{'address': 'kchakrav@gmail.com', 'type': 'pe...","san diego, california, united states","'kchakrav@gmail.com', 'kishore.chakravadhanu..."
...,...,...,...,...,...,...,...
5884465,5884465,matthew stasik,linkedin.com/in/matthew-stasik-89436330,[],"[{'address': 'estasik.market@gmail.com', 'type...","detroit, michigan, united states",'estasik.market@gmail.com'
5884466,5884466,donna elrod,linkedin.com/in/donna-elrod-3b06448,[],"[{'address': 'donna_elrod@comcast.net', 'type'...","douglasville, georgia, united states",'donna_elrod@comcast.net'
5884467,5884467,amy jennette,linkedin.com/in/amyjennette,[],"[{'address': 'amy.jennette@leoburnett.com', 't...","seattle, washington, united states",'aejennette@mac.com'
5884468,5884468,sara kuhn,linkedin.com/in/sara-kuhn-79478036,[],"[{'address': 'sarak2@charter.net', 'type': 'pe...","minneapolis, minnesota, united states",'sarak2@charter.net'
5884469,5884469,paul accardi,linkedin.com/in/paul-accardi-35a6b337,[],"[{'address': 'pjaccardi@yahoo.com', 'type': 'p...","new york, new york, united states",'pjaccardi@yahoo.com'

In [6]:
df1 = df.drop(columns='emails')

In [7]:
df1

,Unnamed: 0,full_name,linkedin_url,phone_numbers,location_name,Personal_Email
0,0,victoria ryder,linkedin.com/in/victoria-ryder-a504329,[],"new york, new york, united states",'victoriatr123@gmail.com'
1,1,christophe esposito,linkedin.com/in/christopheesposito,[],"norwalk, connecticut, united states",'c.esposito916@gmail.com'
2,2,wenzhong wu,linkedin.com/in/wenzhong-wu-85b8b126,[],"san jose, california, united states",'wuwenz@hotmail.com'
3,3,matthew erskine,linkedin.com/in/matthew-erskine-97159844,[],"kerman, california, united states",'erskineranches@gmail.com'
4,4,kishore chakravadhanula,linkedin.com/in/kchakrav,[],"san diego, california, united states","'kchakrav@gmail.com', 'kishore.chakravadhanu..."
...,...,...,...,...,...,...
5884465,5884465,matthew stasik,linkedin.com/in/matthew-stasik-89436330,[],"detroit, michigan, united states",'estasik.market@gmail.com'
5884466,5884466,donna elrod,linkedin.com/in/donna-elrod-3b06448,[],"douglasville, georgia, united states",'donna_elrod@comcast.net'
5884467,5884467,amy jennette,linkedin.com/in/amyjennette,[],"seattle, washington, united states",'aejennette@mac.com'
5884468,5884468,sara kuhn,linkedin.com/in/sara-kuhn-79478036,[],"minneapolis, minnesota, united states",'sarak2@charter.net'
5884469,5884469,paul accardi,linkedin.com/in/paul-accardi-35a6b337,[],"new york, new york, united states",'pjaccardi@yahoo.com'

In [15]:
df2 = df1.rename(columns={'Personal_Email': 'emails', 'location_name': 'location'})

In [16]:
df2

,Unnamed: 0,full_name,linkedin_url,phone_numbers,location,emails
0,0,victoria ryder,linkedin.com/in/victoria-ryder-a504329,[],"new york, new york, united states",'victoriatr123@gmail.com'
1,1,christophe esposito,linkedin.com/in/christopheesposito,[],"norwalk, connecticut, united states",'c.esposito916@gmail.com'
2,2,wenzhong wu,linkedin.com/in/wenzhong-wu-85b8b126,[],"san jose, california, united states",'wuwenz@hotmail.com'
3,3,matthew erskine,linkedin.com/in/matthew-erskine-97159844,[],"kerman, california, united states",'erskineranches@gmail.com'
4,4,kishore chakravadhanula,linkedin.com/in/kchakrav,[],"san diego, california, united states","'kchakrav@gmail.com', 'kishore.chakravadhanu..."
...,...,...,...,...,...,...
5884465,5884465,matthew stasik,linkedin.com/in/matthew-stasik-89436330,[],"detroit, michigan, united states",'estasik.market@gmail.com'
5884466,5884466,donna elrod,linkedin.com/in/donna-elrod-3b06448,[],"douglasville, georgia, united states",'donna_elrod@comcast.net'
5884467,5884467,amy jennette,linkedin.com/in/amyjennette,[],"seattle, washington, united states",'aejennette@mac.com'
5884468,5884468,sara kuhn,linkedin.com/in/sara-kuhn-79478036,[],"minneapolis, minnesota, united states",'sarak2@charter.net'
5884469,5884469,paul accardi,linkedin.com/in/paul-accardi-35a6b337,[],"new york, new york, united states",'pjaccardi@yahoo.com'

In [17]:
df3 = df2[['full_name', 'linkedin_url', 'phone_numbers', 'emails', 'location' ]]

In [18]:
df3

,full_name,linkedin_url,phone_numbers,emails,location
0,victoria ryder,linkedin.com/in/victoria-ryder-a504329,[],'victoriatr123@gmail.com',"new york, new york, united states"
1,christophe esposito,linkedin.com/in/christopheesposito,[],'c.esposito916@gmail.com',"norwalk, connecticut, united states"
2,wenzhong wu,linkedin.com/in/wenzhong-wu-85b8b126,[],'wuwenz@hotmail.com',"san jose, california, united states"
3,matthew erskine,linkedin.com/in/matthew-erskine-97159844,[],'erskineranches@gmail.com',"kerman, california, united states"
4,kishore chakravadhanula,linkedin.com/in/kchakrav,[],"'kchakrav@gmail.com', 'kishore.chakravadhanu...","san diego, california, united states"
...,...,...,...,...,...
5884465,matthew stasik,linkedin.com/in/matthew-stasik-89436330,[],'estasik.market@gmail.com',"detroit, michigan, united states"
5884466,donna elrod,linkedin.com/in/donna-elrod-3b06448,[],'donna_elrod@comcast.net',"douglasville, georgia, united states"
5884467,amy jennette,linkedin.com/in/amyjennette,[],'aejennette@mac.com',"seattle, washington, united states"
5884468,sara kuhn,linkedin.com/in/sara-kuhn-79478036,[],'sarak2@charter.net',"minneapolis, minnesota, united states"
5884469,paul accardi,linkedin.com/in/paul-accardi-35a6b337,[],'pjaccardi@yahoo.com',"new york, new york, united states"

In [19]:
df3.to_csv("file.csv")