In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("phone_only.csv")

In [3]:
df

,full_name,linkedin_url,phone_numbers,emails,location_name
0,anna meyendorff,linkedin.com/in/anna-meyendorff-2191068a,['+12024086110'],"[{'address': 'anna.meyendorff@bateswhite.com',...","washington, district of columbia, united states"
1,karen kennard,linkedin.com/in/karen-kennard-9b5aa623,['+14358826482'],"[{'address': 'kkennard@rsrcorp.com', 'type': '...","dallas, texas, united states"
2,carson woś,linkedin.com/in/carsonwos,['+19142202512'],"[{'address': 'cw534@st-andrews.ac.uk', 'type':...","brooklyn, new york, united states"
3,mallory marcotte,linkedin.com/in/mallorymarcotte,['+17862791057'],"[{'address': 'mallorym@scribeamerica.com', 'ty...","naples, florida, united states"
4,max masters,linkedin.com/in/max-masters-bb43a742,['+16056393167'],[{'address': 'maxmasters@geographicinnovations...,"parker, south dakota, united states"
...,...,...,...,...,...
4312839,dave naab,linkedin.com/in/davenaab,['+15633328930'],"[{'address': 'david.naab@mstjob.com', 'type': ...","bettendorf, iowa, united states"
4312840,jeff heiney,linkedin.com/in/jeff-heiney-57313160,['+16363436112'],"[{'address': 'jheiney@bitrode.com', 'type': 'c...","fenton, missouri, united states"
4312841,cynthia lugo-anatello,linkedin.com/in/cynthia-lugo-anatello-5a2a3993,['+17148218380'],"[{'address': 'clugo-anatello@computer.org', 't...","los alamitos, california, united states"
4312842,pao-gen wang,linkedin.com/in/pao-gen-wang-b229a5101,['+15093583900'],"[{'address': 'pao-gen.wang@marsh.com', 'type':...","new jersey, united states"
4312843,chip rominger,linkedin.com/in/chip-rominger-8377b532,['+14238223600'],"[{'address': 'crominger@burnersystems.com', 't...","chattanooga, tennessee, united states"

In [5]:
df2 = df[['full_name', 'linkedin_url', 'phone_numbers', 'emails', 'location_name' ]]

In [6]:
df2

,full_name,linkedin_url,phone_numbers,emails,location_name
0,anna meyendorff,linkedin.com/in/anna-meyendorff-2191068a,['+12024086110'],"[{'address': 'anna.meyendorff@bateswhite.com',...","washington, district of columbia, united states"
1,karen kennard,linkedin.com/in/karen-kennard-9b5aa623,['+14358826482'],"[{'address': 'kkennard@rsrcorp.com', 'type': '...","dallas, texas, united states"
2,carson woś,linkedin.com/in/carsonwos,['+19142202512'],"[{'address': 'cw534@st-andrews.ac.uk', 'type':...","brooklyn, new york, united states"
3,mallory marcotte,linkedin.com/in/mallorymarcotte,['+17862791057'],"[{'address': 'mallorym@scribeamerica.com', 'ty...","naples, florida, united states"
4,max masters,linkedin.com/in/max-masters-bb43a742,['+16056393167'],[{'address': 'maxmasters@geographicinnovations...,"parker, south dakota, united states"
...,...,...,...,...,...
4312839,dave naab,linkedin.com/in/davenaab,['+15633328930'],"[{'address': 'david.naab@mstjob.com', 'type': ...","bettendorf, iowa, united states"
4312840,jeff heiney,linkedin.com/in/jeff-heiney-57313160,['+16363436112'],"[{'address': 'jheiney@bitrode.com', 'type': 'c...","fenton, missouri, united states"
4312841,cynthia lugo-anatello,linkedin.com/in/cynthia-lugo-anatello-5a2a3993,['+17148218380'],"[{'address': 'clugo-anatello@computer.org', 't...","los alamitos, california, united states"
4312842,pao-gen wang,linkedin.com/in/pao-gen-wang-b229a5101,['+15093583900'],"[{'address': 'pao-gen.wang@marsh.com', 'type':...","new jersey, united states"
4312843,chip rominger,linkedin.com/in/chip-rominger-8377b532,['+14238223600'],"[{'address': 'crominger@burnersystems.com', 't...","chattanooga, tennessee, united states"

In [7]:
df1 = df2.rename(columns={'location_name':'location'})

In [8]:
df1

,full_name,linkedin_url,phone_numbers,emails,location
0,anna meyendorff,linkedin.com/in/anna-meyendorff-2191068a,['+12024086110'],"[{'address': 'anna.meyendorff@bateswhite.com',...","washington, district of columbia, united states"
1,karen kennard,linkedin.com/in/karen-kennard-9b5aa623,['+14358826482'],"[{'address': 'kkennard@rsrcorp.com', 'type': '...","dallas, texas, united states"
2,carson woś,linkedin.com/in/carsonwos,['+19142202512'],"[{'address': 'cw534@st-andrews.ac.uk', 'type':...","brooklyn, new york, united states"
3,mallory marcotte,linkedin.com/in/mallorymarcotte,['+17862791057'],"[{'address': 'mallorym@scribeamerica.com', 'ty...","naples, florida, united states"
4,max masters,linkedin.com/in/max-masters-bb43a742,['+16056393167'],[{'address': 'maxmasters@geographicinnovations...,"parker, south dakota, united states"
...,...,...,...,...,...
4312839,dave naab,linkedin.com/in/davenaab,['+15633328930'],"[{'address': 'david.naab@mstjob.com', 'type': ...","bettendorf, iowa, united states"
4312840,jeff heiney,linkedin.com/in/jeff-heiney-57313160,['+16363436112'],"[{'address': 'jheiney@bitrode.com', 'type': 'c...","fenton, missouri, united states"
4312841,cynthia lugo-anatello,linkedin.com/in/cynthia-lugo-anatello-5a2a3993,['+17148218380'],"[{'address': 'clugo-anatello@computer.org', 't...","los alamitos, california, united states"
4312842,pao-gen wang,linkedin.com/in/pao-gen-wang-b229a5101,['+15093583900'],"[{'address': 'pao-gen.wang@marsh.com', 'type':...","new jersey, united states"
4312843,chip rominger,linkedin.com/in/chip-rominger-8377b532,['+14238223600'],"[{'address': 'crominger@burnersystems.com', 't...","chattanooga, tennessee, united states"

In [10]:
df1.to_csv("phone.csv")